/* Aplicação de boas práticas, fonte e reset do posicionamento do body */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: var(--font-normal); /* 'Open Sans', sans-serif; */
    scroll-behavior: smooth; 
}

/* Definição de tamanho, cores e fontes do elemento raiz do documento */
:root {
    --ideal-viewport-width: 1600;
    --max-width: 1600px;
    --bg-color: #202225;
    --bg-color-secondary: #2f3137;
    --bg-color-secondary-light: hsl(225, 8%, 60%);
    --text-color: #fff;
    --text-color-dark: hsl(0, 0%, 70%);
    --text-color-black: hsl(0, 0%, 0%);
    --contraste-color: #fa08087c;
    --font-footer: 'Oswald', sans-serif;
    --font-normal: 'DM Sans', sans-serif;
}

/* Posição do cabeçalho */
header{
    position: fixed; 
}

/* Transformação da fonte para letras maiúsculas e em negrito */
.navbar-brand{
    
    text-transform: uppercase;
    font-weight: bold;
}

/* Identação do parágrafo 1.5em */
p {
    text-indent: 1.5em;    
}

/* Tamanho da imagem */
img {
    width: 200px;
    height: 310px;
}

/* Posição e tamanho definido do vídeo */
video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%; /* Tamanho minimo da largura 100% */
    min-height: 100%; /* Tamanho minimo da altura 100% */
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);   
}

/* Definição de cor, margin e fonte para a label */
label{
    color: #0b0c0c;
    margin-left: 10px;
    font-weight: bold;
}

/* Alinhamento centralizado da div */
.div-cars {
    align-items: center;
}

/* Definição de display, tamanho e alinhamento do container de cadastro de filme */
.main_container {
    
    display: flex;
    flex-wrap: wrap;
    height: 100%; /* 100vh */
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    background-size: cover;
}

/* Definição de tamanho, cor, borda, alinhamento e fonte do cadastro de filme */
.cadastrar__container {
    min-height: 400px;
    width: 300px;
    background-color:rgba(255, 255, 255, 0.52);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Definição de margin, cor, alinhamento e fonte do "cadastrar" */
.cadastra__title {
margin-bottom: 15px;
color: #000000;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}

/* Definição de tamanho, display e alinhamento do form */
.cadastra__form {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* Definição de tamanho, borda, posição e margin */
.cadastra__input {
height: 50px;
width: 260px;
box-sizing: border-box;
padding-left: 10px;
border: unset;
outline: none;
position: relative;
border-radius: 8px;
margin-bottom: 15px;
}

/* Definição de tamanho, cor, borda, alinhamento, tipo de cursor e fonte utilizada no botão */
button.btn{
margin-top: 15px;
height: 50px;
width: 260px;
padding-left: 8px;
outline: none;
position: relative;
background-color: var(--contraste-color);
background-size: 200%;
margin-bottom: 32px;
color: var(--bg-color);
font-size: 16px;
font-weight: bold;
border: unset;
border-radius: 8px;
cursor: pointer;
transition: 0.5s all;
text-align: center;
border: 3px solid var(--contraste-color); 
}

/* Definição de cor, borda, background do hover */
button.btn:hover{
  background-color:var(--bg-color);
  color: var(--text-color);
  border: 3px solid var(--contraste-color); 
}

/* Definição de cor do background do hover */
button.navbar-toggler:hover {
    background-color: #fa08087c;
}

/* Definição de tamanho do favicon */
.logof{
    width: 30px;
    height: 30px;
}

/* Definição de display, tamanho e margin da classe de cards */
.flex-materias{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

/* Definição de display, tamanho, alinhamento, borda, cor e margin da div de cards */
.flex-materias > div {
   flex: 1 1 200px;
   margin: 10px;
   text-align: center;
   border-radius: 5px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
   background-color: rgba(255, 255, 255, 0.52); 
}

/* Definição da transformação e transição do hover */
.flex-materias > div:hover{
    transform: scale(0.7);
    transition-duration:  0.3s;
}

/* Definição de background, borda, margin, padding e cor dos cards já inseridos na página de filmes */
.finalizado{
    background-color: #202020;
    border-radius: 0px 0px 10px 10px ;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 5px;
    color: white;
}

/* Definição de fonte em negrito */
h4{
    font-weight: bold !important;
    
}

/* Definição tamanho e borda das imagens dos cards */
.img-materias{
    width: 220px;
    border-radius: 5px;
}

/* Alinhamento e padding do parágrafo do footer */
footer > p {
    text-align: center;
    padding-top: 15px;
}

/* Definição de posição, tamanho, background, cor e alinhamento do footer */
footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 60px; 
    box-shadow: 0px 5px 10px rgba(255, 3, 3, 0.76);
    background-color: #202020;
    color: white;
    text-align: center;
  }

/* Tamanho e tipo de fonte do h4 */  
.h4, h4 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Definição de posição e tamanho do icone de e-mail */
img.chat {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 15px;
    bottom: 75px;
    z-index: 2;
}

/* Definição de margin e tamanho do ícone do github */
.github{
    margin-top: 15px;
    width: 50px;
    height: auto;
}

/* Definição de tamanho, background e borda do hover github */
.github:hover{
   width: 70px;
   background-color: #49383878;
   border-radius: 15px;
}
    
/* Definição de margin e tamanho do ícone do Google */
.google{
    margin-top: 15px;
    width: 50px;
    height: auto;   
}

/* Definição de tamanho, background e borda do hover google */
.google:hover{
    width: 70px;
    background-color: #49383878;
    border-radius: 15px;
 }

 /* Definição de margin e tamanho do ícone do Linkedin */
.linkedin{
    margin-top: 15px;
    width: 50px;
    height: auto;
}

/* Definição de tamanho, background e borda do hover linkedin */
.linkedin:hover{
    width: 70px;
    background-color: #49383878;
    border-radius: 15px;
 }

/* Definição de tamanho e borda da imagem de perfil */
.img-Perfil{
    width: 220px;
    border-radius: 30px;
}

/* Definição de margin, fonte e alinhamento do formulário de contato */
.form-contato h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 23px;
    text-align:center
}

/* Definição de texto, cor e margin do link [x] para fechar o form */
#fecharForm {   
    text-decoration: none;
    color: white;
    margin-left: 260px;   
}

/* Definição de cor e alinhamento da label do formulário de contato */
#formContato label {
    color: white;
    text-align: left;
}

/* Definição posição, display, margin, padding, tamanho, background, cor, borda do formulário de contato */
#formContato{
    z-index: 3;
    display:none;
    position:absolute;
    top:30%;
    left:50%;
    margin-left:-160px;
    margin-top:-100px;
    padding:10px;
    width:320px;
    height:auto;
    background-color: #202020;
    border-radius: 8px;
    align-items: center;
    color:white;
  }


/* Definição de tamanho de fonte e margin do h2 do formulário de contato */
.form-contato h2 {
    font-size: 23px;
    margin-bottom: 13px;
}

/* Definição de tamanho do formulário de contato */
  .form-contato form {
    width: 100%;
}

/* Definição de tamanho, margin, trasformação para letras maiúsculas e em negrito */
.item-form {
    width: 100%;
    margin: 13px 0;
    text-transform: uppercase;
    font-weight: bold;
}

/* Definição de display, alinhamento, margin, espaçamento de letra e tamanho da fonte da label */
.item-form label{
    display: block;
    text-align: left;
    margin-bottom: 8px;
    letter-spacing: 3px;
    font-size: 12px;    
}

/* Definição de padding, tamanho, borda, background, cor, fonte e margin */
.item-form select{
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--contraste-color);
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    font-family:var(--font-normal);
    margin: 0;
}

/* Definição de padding, tamanho, borda, background, cor, fonte e cursor */
.item-form input {
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--contraste-color);
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    font-family:var(--font-normal);
    font-size: 15px;
    cursor: pointer;    
}

/* Animação Input */
.item-form input:focus {
    border: 2px solid var(--text-color);
    box-shadow: 0 0 8px 0 white;
}

/* Definição de padding, tamanho, borda, background, cor, fonte, margin e alinhamento do Botão Contato */
.btn-contato {
   
    padding: 10px;
    width:100%;
    background-color: var(--contraste-color);
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--contraste-color); 
    font-family:var(--font-normal);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

/* Animação Botão Contato */
.btn-contato:hover {
    background-color: var(--bg-color);
    color:hsl(0, 0%, 95%);
    border: 2px solid var(--contraste-color); 
    cursor: pointer;
    transition: ease 0.5s;
}

/* Definição de borda e box-shadow do campo de mensagem */
textarea:focus {
    border: 2px solid var(--text-color);
    box-shadow: 0 0 8px 0 white;
}

/* Estilização do campo mensagem do form contato com padding, tamanho, borda, background, cor, fonte e cursor */
textarea {
    padding: 15px;
    height: 100px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--contraste-color);
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    font-family:var(--font-normal);
    font-size: 15px;
    resize: none;
    cursor: pointer;    
}